@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  --bgcolor: #242424;
  background-color: var(--bgcolor);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@layer base {
  h1, h2, h3, h4 {
    @apply text-[#ebdbb2]
  }
}

@layer utilities {

  .card-wrapper {
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-xl
    overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
        from 0deg,
        rgba(0, 0, 139, 1), /* Dark Blue */
        rgba(144, 238, 144, 1), /* Pale Green */
        rgba(0, 0, 139, 1)
    );

    @apply absolute h-[1730px] w-[1850px] left-[-80%] top-[-160%] content-[''] animate-border-spin;
  }

  .card-content {
    @apply relative dark:bg-[#1a1a1a] bg-slate-300  rounded-lg
  }


}


div.arrow {
  width: 5vmin;
  height: 5vmin;
  box-sizing: border-box;
  position: relative;
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.5s ease;

  &::before {
    content: '';
    width: 5vw;
    height: 5vw;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: black;
    transition: transform 0.2s ease, border-color 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:hover::before {
    border-color: #90EE90;
    transform: scale(0.8);
  }
}

div.fadeOut {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


div.arrow.always-white::before {
  border-color: white !important;
}
div.arrow.always-white:hover::before {
  border-color: #90EE90 !important;
}

.dark div.arrow::before {
  border-color: white;
}

.dark div.arrow:hover::before {
  border-color: #90EE90;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}


body, html {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}


/* CSS */
.button-56 {
  align-items: center;
  border: 2px solid beige;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: transparent;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inhereits: false;
}


.gradient-background {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}



button {
  border-radius: 8px;
  border: 2px solid #242424;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(100, 69, 19, 0.2);
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.dark a {
  color: #ebdbb2;
}

.dark button {
  border: 2px solid #ebdbb2;
  background-color: rgba(255, 255, 255, 0.05);
}

.welcome-text {
  font-size: 4rem;
  font-weight: bold;
  color: black;
  position: absolute;
  transition: all 1s ease; /* Smooth transition for fallback states */
  animation: moveToHeader 3s forwards; /* Animation defined below */
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}


.header {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-100%); /* Start hidden */
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.image-track {
  display: flex;
  gap: 6vmin;
  top: 50%;
  left: 50%;
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 0% center;
}
